<h2>{{text.text | uppercase}} Details</h2>
<!-- <div><span>id: </span>{{text.id}}</div> -->
<div class="tooltip">
  <!-- <label>text:  -->
      <input [(ngModel)]="text.text" placeholder="text"/>
      <span class="tooltiptext">
        <table>
          <tr>
            <th *ngFor="let conj of conjugations">{{conj.tense}}</th>
          </tr>
          <tr>
            <td *ngFor="let conj of conjugations">{{conj.yo}}</td>
          </tr>
          <tr>
            <td *ngFor="let conj of conjugations">{{conj.tu}}</td>
          </tr>
          <tr>
            <td *ngFor="let conj of conjugations">{{conj.elEllaUd}}</td>
          </tr>
          <tr>
            <td *ngFor="let conj of conjugations">{{conj.nosotros}}</td>
          </tr>
          <tr>
            <td *ngFor="let conj of conjugations">{{conj.vosotros}}</td>
          </tr>
          <tr>
            <td *ngFor="let conj of conjugations">{{conj.ellosEllasUds}}</td>
          </tr>
        </table>
      </span>
    <!-- </label> -->
</div>